torch
prettytable
pandas
tqdm
numpy
matplotlib
tensorboardX
python-dotenv
scikit-learn
ccxt
rich
pyyaml
databases
sqlalchemy
asyncpg
psycopg2-binary
uvicorn

fastapi==0.99.1
fastapi_jwt_auth==0.5.0
pydantic==1.10.11 