torch
prettytable
pandas
tqdm
numpy
matplotlib
tensorboardX
python-dotenv
scikit-learn
ccxt
rich
pyyaml
databases
sqlalchemy
asyncpg
psycopg2-binary
uvicorn

fastapi==0.99.1
pydantic==1.10.11
python-jose
passlib
sqlmodel
pydantic[email]
bcrypt
python-multipart